.fix-w{
    width: 50%;
    padding-left: 2rem;
}

.fix-height-card{
    overflow-y: auto; 
    max-height:370px; 
    min-height: 370px;
}

@media (max-width: 1367px) {
    .fix_height{
        max-height: 430px; 
        min-height: 430px;
    }
}

@media (min-width: 1367px) {
    .fix_height{
        max-height: 550px; 
        min-height: 550px;
    }
}