::ng-deep {
  #tabFix{
    .ant-tabs-nav-wrap {
      box-shadow: rgba(0, 0, 0, 0.075) 0px 0.125rem 0.25rem !important;
    }
    .ant-tabs-content-holder{
      overflow: auto;
      height: calc(100vh - 3rem);
    }
    .ant-tabs-content{
      border-radius: 4px;
      height: 100%;
      margin-top: 24px;
      padding: 0px 16px 16px;
    }
  }
}
